{
  "openapi": "3.0.1",
  "info": {
    "title": "Search2AI API",
    "description": "A search API powered by Search2AI",
    "license": {
      "name": "MIT"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://search.search2ai.one"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/": {
      "post": {
        "description": "Performs a search",
        "requestBody": {
          "description": "Search parameters",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SearchParameters"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Search results",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SearchResult"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/crawl": {
      "post": {
        "description": "Crawls a webpage",
        "requestBody": {
          "description": "URL for crawling",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CrawlParameters"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Crawled content",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CrawlResult"
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/usage": {
      "post": {
        "description": "Get usage",
        "responses": {
          "200": {
            "description": "Usage data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Usage"
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "SearchParameters": {
        "type": "object",
        "properties": {
          "query": {
            "description": "The search query",
            "type": "string"
          },
          "search_service": {
            "description": "The search service to use,you can choose google,bing,duckduckgo",
            "type": "string"
          },
          "max_results": {
            "description": "The maximum number of results to return",
            "type": "integer",
            "format": "int32"
          }
        },
        "required": ["query", "search_service"]
      },
      "CrawlParameters": {
        "type": "object",
        "properties": {
          "url": {
            "description": "The URL to crawl",
            "type": "string"
          }
        },
        "required": ["url"]
      },
      "CrawlResult": {
        "type": "object",
        "properties": {
          "title": {
            "description": "The title of the website",
            "type": "string"
          },
          "link": {
            "description": "The link of the website",
            "type": "string"
          },
          "content": {
            "description": "The content of the website",
            "type": "string"
          }
        }
      },
      "SearchResult": {
        "type": "object",
        "properties": {
          "title": {
            "description": "The title of the search result",
            "type": "string"
          },
          "link": {
            "description": "The link of the search result",
            "type": "string"
          },
          "snippet": {
            "description": "The snippet of the search result",
            "type": "string"
          }
        }
      },
      "Usage": {
        "type": "object",
        "properties": {
          "usage": {
            "description": "The usage count",
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "Error": {
        "required": [
          "error",
          "message"
        ],
        "type": "object",
        "properties": {
          "error": {
            "type": "integer",
            "format": "int32"
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  }
}